[Unit]
Description=Back up data from %i

[Service]
Type=oneshot
TimeoutStartSec=0
WorkingDirectory=/data/domains/%i/
ExecStart=/bin/bash -euxc '/data/domains/%i/BACKUP'
