<footer class="app-footer {% if page.theme == 'light' %}app-footer--light{% else %}app-footer--black{% endif %}">
  <div class="container">

    <div class="app-footer_col">
      <input id="menu1" type="checkbox" />
      <label for="menu1" class="app-footer_pre-menu">Product</label>
      <ul class="app-footer_nav">
        <li><a href="//rocket.chat/">Rocket.Chat</a></li>
        <li><a href="//rocket.chat/pricing">Pricing</a></li>
        <li><a href="//rocket.chat/devops">DevOps</a></li>
        <li><a href="//rocket.chat/bots">Bots</a></li>
        <li><a href="//rocket.chat/community">Community</a></li>
        <li><a href="//rocket.chat/webinars/">Webinars</a></li>
        <li><a href="//rocket.chat/docs/">Documentation</a></li>
      </ul>
    </div>

    <div class="app-footer_col">
      <input id="menu2" type="checkbox" />
      <label for="menu2" class="app-footer_pre-menu">Company</label>
      <ul class="app-footer_nav">
        <li><a href="//rocket.chat/team">Team</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="//rocketchat.recruitee.com/">Jobs</a></li>
        <li><a href="//rocket.chat/contact">Contact</a></li>
        <li><a href="//rocket.chat/partners">Partners</a></li>
        <li><a href="//rocket.chat/press">Press</a></li>
        <li><a href="//rocket.chat/blog/">Blog</a></li>
        <li><a href="//shop.spreadshirt.com/rocketchat" target="_blank" rel="noopener noreferrer">Gift shop</a></li>
      </ul>
    </div>

    <div class="app-footer_col">
      <input id="menu3" type="checkbox" />
      <label for="menu3" class="app-footer_pre-menu">Legal</label>
      <ul class="app-footer_nav">
        <li><a href="//rocket.chat/terms">Terms of Service</a></li>
        <li><a href="//rocket.chat/privacy">Privacy</a></li>
        <li><a href="//rocket.chat/dmca">DMCA Policy</a></li>
      </ul>
    </div>

    <div class="app-footer_col">
      <input id="menu4" type="checkbox" />
      <label for="menu4" class="app-footer_pre-menu">Get started</label>
      <ul class="app-footer_nav">
        <li><a class="app-footer_install" target="_blank" rel="noopener noreferrer" href="//cloud.rocket.chat/trial/small"><span><img src="{{ site.url }}/images/default/cloud.svg" alt="Free trial"></span> Cloud trial</a></li>
        <li><a class="app-footer_install" href="//rocket.chat/install" title="install"><span style="margin-top: -0.1em;"><img src="{{ site.url }}/images/default/install.svg" alt="Install"></span> Install server</a></li>
      </ul>
    </div>

     <div class="app-footer_wrap-logo">
      <h1 class="app-footer_logo">
        <a href="//rocket.chat/">
            <img src="{{ site.url }}/images/default/logo.svg" alt="Rocket.Chat">
        </a>
      </h1>

      <a class="app-footer_github" target="_blank" href="//github.com/RocketChat/Rocket.Chat" rel="noopener noreferrer">
          <span><img src="{{ site.url }}/images/default/star.svg" alt="GitHub Stars"></span>
        <span class="star-count">{{site.stars}}K</span>
      </a>
      <a class="app-footer_github" target="_blank" href="//github.com/RocketChat/Rocket.Chat/fork" rel="noopener noreferrer">
          <span><img src="{{ site.url }}/images/default/fork.svg" alt="GitHub forks"></span>
        <span class="fork-count">{{site.forks}}K</span>
      </a>
      <a class="app-footer_github-link" target="_blank" href="//github.com/RocketChat/Rocket.Chat" rel="noopener noreferrer">
          <span><img src="{{ site.url }}/images/default/github.svg" alt="GitHub"></span>
        Open on GitHub
      </a>

      <a href="//keycdn.com" target="_blank" rel="noopener noreferrer" class="app-footer_partner">
          <img src="{{ site.url }}/images/default/keycdnlogo.png" alt="KeyCDN">
      </a>
    </div>
  </div>
</footer>