<div class="app-header app-header--black">
    <header class="app-header_wrap headroom--top">
      <div class="container">
        <h1 class="app-header_logo">
          <a href="/">
            <img class="normal" src="{{ site.url }}/images/default/logo.svg" alt="Rocket.Chat">
          </a>
        </h1>

        <input type="checkbox" id="handle-menu" />
        <label class="app-header_handle-menu" for="handle-menu"><span /></label>

        <nav class="app-header_menu">
          <ul>
            <li><a data-senna-off="true" href="//rocket.chat/install">Install</a></li>
            <li><a data-senna-off="true" href="//rocket.chat/pricing">Pricing</a></li>
            <li><a data-senna-off="true" href="//rocket.chat/community">Community</a></li>
            <li><a data-senna-off="true" class="current-page" href="//rocket.chat/docs/">Docs</a></li>
            <li><a data-senna-off="true" href="//rocket.chat/blog/">Blog</a></li>
            <li><a data-senna-off="true" href="//rocket.chat/contact">Contact</a></li>
          </ul>
          <a class="app-header_install" href="//rocket.chat/cloud"><span><img src="{{ site.url }}/images/default/cloud.svg" alt="Install"></span> Try now</a>
        </nav>

      </div>
    </header>
  </div>