<div class="home">
	<h1>Project Documentation</h1>
	
	<div class="project-list">
		{% for project in include.projects %}
			<div class="project-card">
				<div class="card-header">
					<p class="card-icon">ICON</p>
					<h1 class="card-name">{{ project.name }}</h1>
					<p class="card-description">{{ project.description }}</p>
				</div>

				<div class="card-pages">
					{% for page in project.pages %}
						<a>{{ page }}</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>