
<ul>
{% for entry in include.level %}
  {% if entry.first %}
    {% for item in entry %}
      {% assign name = item[0] %}
      {% break %}
    {% endfor %}
    
    {% assign newpath = name | slugify %}
    {% assign path = include.path | append: newpath | append: '/' %}
    {% assign level = entry[name] %}
      
    <li class="{{ newpath }}" >
      <a href="{{ path }}">{{ name }}</a>
      {% include level.html level=level path=path %}
    </li>
  {% else %}
    {% assign newpath = entry | slugify %}
    {% assign path = include.path | append: newpath | append: '/' %}

    <li class="{{ newpath }}" >
      <a href="{{ path }}">{{ entry }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
