<div class="home">
	<div class="project-list">
		{% for project in include.projects %}
			<div class="project-card">
				<div class="home-header card">
					<img class="card-icon" src="images/icons/{{ project.icon }}.svg" alt="">
					<h1 class="title card"><a href="{{ project.path }}">{{ project.name }}</a></h1>
					<p class="description card">{{ project.description }}</p>
				</div>
				<div class="card-pages">
					{% for page in project.pages %}
						<a href="{{ project.path }}{{ page[1] }}">{{ page[0] }}</a>
					{% endfor %}
					{% capture http %}{{ project.path | truncate: 4, '' }}{% endcapture %}
					{% if http == 'http' %}
						<a href="{{ project.path }}">Project on GitHub</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
