<div class="home">
	<div class="project-list">
		{% for project in include.projects %}
			<div class="project-card">
				<div class="project-card__header">
					<div class="project-card-icon__wrapper">
						<img class="project-card-icon" src="images/icons/{{ project.icon }}" alt="">
					</div>
					<div class="project-card-title">
						<div class="project-card-title__title"><a href="{{ project.path }}">{{ project.name }}</a></div>
						<p class="project-card-title__description">{{ project.description }}</p>
					</div>
				</div>
				<div class="card-pages">
					{% for page in project.pages %}
						<a href="{{ project.path }}{{ page[1] }}">{{ page[0] }}</a>
					{% endfor %}
					{% capture http %}{{ project.path | truncate: 4, '' }}{% endcapture %}
					{% if http == 'http' %}
						<a href="{{ project.path }}">Project on GitHub</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
