<div class="tab-container">
    <div class="tabs-titles">
        {%if include.item1_title != nil %}<a href="javascript:void(0);" class="tab-title item-1 current" data-item="1" tabindex="1"> {{include.item1_title}}</a >{% endif %}
        {%if include.item2_title != nil %}<a href="javascript:void(0);" class="tab-title item-2" data-item="2" tabindex="2">{{include.item2_title}}</a>{% endif %}
        {%if include.item3_title != nil %}<a href="javascript:void(0);" class="tab-title item-3" data-item="3" tabindex="3">{{include.item3_title}}</a>{% endif %}
    </div>

    <div class="tabs-contents">

        {%if include.item1_title != nil %}
        <div class="tab item-1 current">
            <div class="tab-content" markdown="1">{{include.item1_content}}</div>
        </div>
        {% endif %}
        {%if include.item2_title != nil %}
        <div class="tab item-2">
            <div class="tab-content" markdown="1"> {{include.item2_content}} </div>
        </div>
        {% endif %}
        {%if include.item3_title != nil %}
        {{ include.item3_title }}
        <div class="tab item-3">
            <div class="tab-content" markdown="1">{{include.item3_content}}</div>
        </div>
        {% endif %}
    </div>
</div>