body,
input,
button {
  font-size: $font-size;
  font-family: $font-family;
  color: $grey;
}

.display--big {
  line-height: 1.2;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: $space;

  @media screen and (min-width: $tablet) {
    font-size: 2.75em;
  }

  margin-bottom: 0.4em;
}

.display {
  font-size: 2em;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: $space;

  margin-bottom: 0.5em;
}

.display--small {
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: $space;

  @media screen and (min-width: $tablet) {
    font-size: 1.25em;
  }

  margin-bottom: 0.4em;
}

.text,
p {
  font-size: $font-size;
  line-height: $font-leading;
}

strong {
  font-weight: 700;
}

.text--small {
  font-size: 0.85em;
  font-weight: 500;

  margin-bottom: 2em;
}

.label {
  font-size: 0.75em;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 700;

  margin-bottom: 1em;
}

.label--small {
  font-size: 0.6em;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;

  margin-bottom: 1em;
}

.tag {
  font-size: 0.6em;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  padding: 0.2em 0.85em;
  vertical-align: middle;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.code {
  font-size: 0.8em;
  border-radius: 2px;
  padding: 0.72em 1em;
}

// Space rules
.display--small + .button {
  margin-top: 2.5em;
}

// Helpers
.align--center {
  text-align: center;
}

.type--nomargin {
  margin-bottom: 0 !important;
}

.list {
  padding-left: 1em;

  ul {
    padding-left: 1.2em;
  }

  li {
    list-style: disc;
    margin-bottom: .5em;
  }
}