$content-width: 1125px;

$line-height: 1.58;

$color-primary: #1d74f5;
$color-secondary: #c1272d;

$color-dark: #1f2329;
$color-light: #929db3;

$padding: 2em;

$toc-width: 240px;

// 1. Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 1em;
$font-leading: 1.5;

// 2. Colors
$brand: #1d74f5;
$brand-dark: #0e59c7;
$warning: #ff5050;
$space: #030c1a;
$space-b: #0b182b;
$space-grey: #121f33;
$home-bg: #061323;

// 2.1 Grayscale
$grey-dark: #384a66;
$grey: #6b7d99;
$grey-light: #a3b4cc;
$grey-smoke-dark: #cfd8e6;
$grey-smoke: #e7ebf2;
$grey-bg: #f3f5f8;
$grey-link: #9EA2A8;

// 3. Helpers
$tranitions: 0.3s ease;

// 4. Breackpoints
$gutter: 1em; // 32px;
$gutter-larger: 2em; // 16px;
$container: 74em; // 1184px;
$tablet: 1200px;
