<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rocket.Chat Documentation {% if page.title %} - {{ page.title }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.url }}/styles.css">

  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="shortcut icon" href="/favicon.ico?v=1"/>
</head>
<body>

<header>
  <div class="wrapper">
    <a class="logo" href="/">
      <img src="{{ site.url }}/images/default/logo.svg" alt="Rocket.Chat">
    </a>
    <ul>
      <li><a {% if page.class == 'download' %}class="active"{%endif%} href="/download">Download</a></li>
      <li><a {% if page.class == 'cloud' %}class="active"{%endif%} href="/cloud">Cloud</a></li>
      <li><a {% if page.class == 'community' %}class="active"{%endif%} href="/community">Community</a></li>
      <li><a {% if page.class == 'docs' %}class="active"{%endif%} href="/docs/">Docs</a></li>
      <li><a {% if page.class == 'blog' %}class="active"{%endif%} href="/blog/">Blog</a></li>
      <li><a {% if page.class == 'contact' %}class="active"{%endif%} href="/contact">Contact</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</header>

<main>
  {% include toc.html %}

  <div class="content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  <div class="clear"></div>
</main>

<footer>
  <div class="wrapper">
    <ul>
      <li><a href="/download">Download</a></li>
      <li><a href="/cloud">Cloud</a></li>
      <li><a href="https://rocket.chat/docs">Docs</a></li>
    </ul>
    <ul>
      <li><a href="/team">Team</a></li>
      <li><a href="https://rocketchat.recruitee.com/">Jobs</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/press">Press</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
    <ul>
      <li><a href="https://shop.spreadshirt.com/rocketchat" target="_blank">Store</a></li>
      <li><a href="https://www.stickermule.com/user/1070688638/stickers" target="_blank">Stickers</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</footer>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MLJ76N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MLJ76N');</script>
<!-- End Google Tag Manager -->

</body>
</html>
