<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rocket.Chat Documentation {% if page.title %} - {{ page.title }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/senna@2.4.2/build/senna.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css"/>
  <link rel="stylesheet" href="{{ site.url }}/public/sidebar.min.css">
  <link rel="stylesheet" href="{{ site.url }}/styles.css?v={{ site.version }}">

  <noscript>
    <style>
      body .toc li {
        display: block;
      }
    </style>
  </noscript>

  <!-- Senna is included here so it is loaded before the page loads. -->
	<script src="https://cdn.jsdelivr.net/npm/senna@2.4.2/build/globals/senna-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ site.url }}/public/js/sidebar.min.js"></script>

  <link rel="canonical" href="{{site.url}}{{page.url}}">
  <link rel="shortcut icon" href="/favicon.ico?v=1"/>

  <!-- Start Alexa Certify Javascript -->
  <script type="text/javascript">
    _atrk_opts = { atrk_acct:"L21tr1rcy520uW", domain:"rocket.chat",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
  </script>
  <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=L21tr1rcy520uW" style="display:none" height="1" width="1" alt="" /></noscript>
  <!-- End Alexa Certify Javascript -->
</head>


<body class="pushable">
  <div id="sidebar" class="ui sidebar overlay left">
    <div class="sidebar-menu">
      <ul>
        <li><a href="https://rocket.chat/download">Download</a></li>
        <li><a href="https://rocket.chat/pricing">Pricing</a></li>
        <li><a href="https://rocket.chat/community">Community</a></li>
        <li><a href="https://rocket.chat/docs/">Docs</a></li>
        <li><a href="https://rocket.chat/blog/">Blog</a></li>
        <li><a href="https://rocket.chat/contact">Contact</a></li>
      </ul>
    </div>
    <div class="toc-sidebar">
    </div>
  </div>

  <div class="pusher">
    {% include header.html %}

    <main>
      <div class="wrapper main">
        <div class="toc-wrapper">
          <div class="search docs">
            <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29.71424961090088" height="32" viewBox="0 0 29.71424961090088 32" data-code="61442" data-tags="search"><g fill="#333" transform="scale(0.03125 0.03125)"><path d="M658.286 475.429q0-105.714-75.143-180.857t-180.857-75.143-180.857 75.143-75.143 180.857 75.143 180.857 180.857 75.143 180.857-75.143 75.143-180.857zM950.857 950.857q0 29.714-21.714 51.429t-51.429 21.714q-30.857 0-51.429-21.714l-196-195.429q-102.286 70.857-228 70.857-81.714 0-156.286-31.714t-128.571-85.714-85.714-128.571-31.714-156.286 31.714-156.286 85.714-128.571 128.571-85.714 156.286-31.714 156.286 31.714 128.571 85.714 85.714 128.571 31.714 156.286q0 125.714-70.857 228l196 196q21.143 21.143 21.143 51.429z" /></g></svg>
            <input type="text" id="search" placeholder="Search">
          </div>
          {% include toc.html %}
        </div>
        <div class="mobile-search">
          <div class="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="content" class="content">
          <div class="wrapper" {%if page.ignoreLinks%}data-proofer-ignore{% endif %}>
            {{ content }}
            <div class="edit-github">
              <a class="button" href="https://github.com/RocketChat/docs/blob/master{{page.url}}README.md">
                <span class="button--icon">
                  <img src="{{ site.url }}/images/icons/github--white.svg" alt="Github">
                </span>
                <span>Contribute to this page on GitHub</span>
              </a>
            </div>

            <!-- {%if site.url contains "rocket.chat"%}
              <div id='discourse-comments'></div>

                <script type="text/javascript">
                      DiscourseEmbed = { discourseUrl: 'https://forums.rocket.chat/',
                                        discourseEmbedUrl: location.toString() };

                      (function() {
                        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                      })();
              </script>
            {%endif%} -->
          </div>
          <div class="article-toc-wrapper">
            {% include article-toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=2 %}
          </div>
        </div>
    </main>
    {% include footer.html %}
    <script src="{{ site.url }}/public/js/responsiveControl.js"></script>
    <script type="text/javascript">
      window.jekyll = { site: { url: '{{ site.url }}' } };
    </script>

    <script src="{{ site.url }}/public/js/index.js?v={{ site.version }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
    <script type="text/javascript">
      docsearch({
        apiKey: '75295a81b01359d7048b766a0fe98a2f',
        indexName: 'rocketchat',
        inputSelector: '#search'
      });
    </script>
    <script src="/main.js"></script>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MLJ76N"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MLJ76N');</script>
      <!-- End Google Tag Manager -->

  </div>
</body>
</html>
