<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rocket.Chat Documentation {% if page.title %} - {{ page.title }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.url }}/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/senna.js/2.0.4/senna.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

  <!-- Senna is included here so it is loaded before the page loads. -->
	<script src="https://cdn.jsdelivr.net/senna.js/2.0.4/senna-min.js"></script>

  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="shortcut icon" href="/favicon.ico?v=1"/>
</head>
<body>

<header>
  <div class="wrapper">
    <a class="logo" href="/">
      <img src="{{ site.url }}/images/default/logo.svg" alt="Rocket.Chat">
    </a>
    <ul>
      <li>
        <div class="search">
          <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29.71424961090088" height="32" viewBox="0 0 29.71424961090088 32" data-code="61442" data-tags="search"><g fill="#fff" transform="scale(0.03125 0.03125)"><path d="M658.286 475.429q0-105.714-75.143-180.857t-180.857-75.143-180.857 75.143-75.143 180.857 75.143 180.857 180.857 75.143 180.857-75.143 75.143-180.857zM950.857 950.857q0 29.714-21.714 51.429t-51.429 21.714q-30.857 0-51.429-21.714l-196-195.429q-102.286 70.857-228 70.857-81.714 0-156.286-31.714t-128.571-85.714-85.714-128.571-31.714-156.286 31.714-156.286 85.714-128.571 128.571-85.714 156.286-31.714 156.286 31.714 128.571 85.714 85.714 128.571 31.714 156.286q0 125.714-70.857 228l196 196q21.143 21.143 21.143 51.429z" /></g></svg>
          <input type="text" id="search" placeholder="Search">
        </div>
      </li>
      <li><a {% if page.class == 'download' %}class="active"{%endif%} href="/download">Download</a></li>
      <li><a {% if page.class == 'cloud' %}class="active"{%endif%} href="/cloud">Cloud</a></li>
      <li><a {% if page.class == 'community' %}class="active"{%endif%} href="/community">Community</a></li>
      <li><a {% if page.class == 'docs' %}class="active"{%endif%} href="/docs/">Docs</a></li>
      <li><a {% if page.class == 'blog' %}class="active"{%endif%} href="/blog/">Blog</a></li>
      <li><a {% if page.class == 'contact' %}class="active"{%endif%} href="/contact">Contact</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</header>

<main>
  
  {% include toc.html %}

  <div class="content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  <div class="clear"></div>
</main>

<footer>
  <div class="wrapper">
    <ul>
      <li><a href="/download">Download</a></li>
      <li><a href="/cloud">Cloud</a></li>
      <li><a href="https://rocket.chat/docs">Docs</a></li>
    </ul>
    <ul>
      <li><a href="/team">Team</a></li>
      <li><a href="https://rocketchat.recruitee.com/">Jobs</a></li>
      <li><a href="/partners">Partners</a></li>
    </ul>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/press">Press</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
    <ul>
      <li><a href="https://shop.spreadshirt.com/rocketchat" target="_blank">Store</a></li>
      <li><a href="https://www.stickermule.com/user/1070688638/stickers" target="_blank">Stickers</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</footer>


<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
    apiKey: '75295a81b01359d7048b766a0fe98a2f',
    indexName: 'rocketchat',
    inputSelector: '#search'
  });
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MLJ76N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MLJ76N');</script>
<!-- End Google Tag Manager -->

</body>
</html>
